*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat';
    font-size: 1.125rem;
    line-height: 1.6;
}

a {
    color: inherit;
    text-decoration: none;
}

h1,
h2,
h3 {
    margin-top: 0;
    font-family: 'Oswald';
    line-height: 1.2;
}

img { max-width: 100%; }

section { padding: 4em 0; }

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.header {
    padding: 1em;
    background-color: #2E323F;
}

.logo {
    display: block;
    margin: 0 auto;
}

.nav-toggle {
    position: absolute;
    top: 1em;
    left: 1em;
    height: 40px;
    width: 40px;
    background-color: black;
    border: none;
    border-radius: 100px;
}

.hamburger { width: 80%; }

.hamburger::before,
.hamburger::after {
    content: '';
    width: 100%;
}

.hamburger::before { transform: translateY(-6px); }

.hamburger::after { transform: translateY(3px); }

.hamburger,
.hamburger::before,
.hamburger::after {
    height: 3px;
    display: block;
    margin: 0 auto;
    background-color: white;
}

.nav {
    visibility: hidden;
    height: 0;
    position: absolute;
}

.nav--visible {
    visibility: visible;
    height: auto;
    position: relative;
}

.nav__list { margin: 2em 0; }

.nav__item {
    margin-top: 1.5em;
    text-align: center;
}

.nav__link {
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}

.nav__link--button {
    padding: .5em 1em;
    background-color: #a59678;
    border-radius: 100px;
}

.section-one {
    color: white;
    background-color: #3B4050;
}

.section-one__text {
    margin-bottom: 1em;
    font-size: 1.5rem;
}

.section-one__btn {
    display: inline-block;
    padding: .5em 1em;
    font-family: 'Oswald';
    font-size: 1.5rem;
    font-weight: 900;
    text-transform: uppercase;
    background-color: #a59678;
    border-radius: 100px;
}

.main-title {
    font-family: 'Oswald';
    font-size: 3em;
}

.decorative-text { color: #a59678; }

.section-two {
    text-align: center;
    background-color: #e2e2e2;
}

.section-title {
    font-size: 1.875rem;
    color: #a59678;
}

.sidebar-section {
    margin-bottom: 1em;
    padding: 1em;
    color: white;
    text-align: center;
    background-color: #2E323F;
}

.sidebar-title {
    font-size: 1.875rem;
}

.footer {
    padding: 3em 0;
    color: #6f737f;
    background-color: #3B4050;
}

.footer__title {
    margin-bottom: 1.5em;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}

.footer__subtitle {
    color: #a59678;
    font-size: 1.3125rem;
}

.footer li { margin-bottom: 1em; }

@media (min-width: 700px) {

    .section-one { padding: 6em 0; }

    header .row {
        display: flex;
        align-items: center;
    }

    .logo { margin: 0; }

    .nav {
        position: relative;
        visibility: visible;
        height: auto;
        display: flex;
        margin-left: auto;
    }

    .nav__list {
        display: flex;
        margin: 0;
    }

    .nav__list + .nav__list { margin-left: 1em; }

    .nav__item { margin: 0 .5em; }

    .nav-toggle { visibility: hidden; }

    .sidebar { display: flex; }

    .sidebar-section + .sidebar-section { margin-left: 1em; }

    .footer .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

@media (min-width: 1000px) {
    .main-title { font-size: 5.625rem; }

    .row {
        display: flex;
        align-items: center;
    }

    .col + .col { margin-left: 5em; }

    .nav__item { margin: 0 1em; }

    .sidebar { display: block; }

    .sidebar-section + .sidebar-section { margin-left: 0; }

    .footer .row {
        align-items: flex-start;
        flex-wrap: nowrap;
    }

    .footer .col:first-child { width: 40%; }
}
